# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Editor directories and files
.vscode/
.idea/
*.swp
*~

# OS-specific files
.DS_Store
thumbs.db

# Django stuff:
*.log
*.sqlite3
/media
/static

# Virtual environment
venv/
env/

# Model files
*.pkl

# Environment variables
.env