# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Editor directories and files
.vscode/
.idea/
*.swp
*~

# OS-specific files
.DS_Store
thumbs.db

# Django stuff:
*.log
*.sqlite3
/media
/static

# Virtual environment
venv/
env/

# Environment variables
.env

# R and R Shiny files
.Rhistory
.Rdata
.Rproj
*.Rproj.user
r_shiny/data/